<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/attendance.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Attendance</title>
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug            
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <button class="accordion">Semester 1</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Name</th>
                                    <th>Total Classes</th>
                                    <th>Class Attended</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                -let subArr_1st =subjectArray_1st;
                                -let subCodeArr_1st =subCodeArray_1st;
                                -let totalClassArr_1st =totalClassArray_1st;
                                -let classAttendedArr_1st =classAttendedArray_1st;
                                -let percentageArr_1st =percentageArray_1st;
                                -let len_1st =length_1st;
                                if len_1st!=undefined 
                                    -for (let i in subArr_1st){
                                        tr 
                                            td #{subCodeArr_1st[i]}
                                            td #{subArr_1st[i]}
                                            td #{totalClassArr_1st[i]}
                                            td #{classAttendedArr_1st[i]}
                                            td #{percentageArr_1st[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 2</button>                
                <div class="panel">
                    <div class="semester2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Name</th>
                                    <th>Total Classes</th>
                                    <th>Class Attended</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                -let subArr_2nd =subjectArray_2nd;
                                -let subCodeArr_2nd =subCodeArray_2nd;
                                -let totalClassArr_2nd =totalClassArray_2nd;
                                -let classAttendedArr_2nd =classAttendedArray_2nd;
                                -let percentageArr_2nd =percentageArray_2nd;
                                -let len_2nd =length_2nd;
                                if len_2nd!=undefined 
                                    -for (let i in subArr_2nd){
                                        tr 
                                            td #{subCodeArr_2nd[i]}
                                            td #{subArr_2nd[i]}
                                            td #{totalClassArr_2nd[i]}
                                            td #{classAttendedArr_2nd[i]}
                                            td #{percentageArr_2nd[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 3</button>                
                <div class="panel">
                    <div class="semester3">
                        <table>
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Name</th>
                                    <th>Total Classes</th>
                                    <th>Class Attended</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                -let subArr_3rd =subjectArray_3rd;
                                -let subCodeArr_3rd =subCodeArray_3rd;
                                -let totalClassArr_3rd =totalClassArray_3rd;
                                -let classAttendedArr_3rd =classAttendedArray_3rd;
                                -let percentageArr_3rd =percentageArray_3rd;
                                -let len_3rd =length_3rd;
                                if len_3rd!=undefined 
                                    -for (let i in subArr_3rd){
                                        tr 
                                            td #{subCodeArr_3rd[i]}
                                            td #{subArr_3rd[i]}
                                            td #{totalClassArr_3rd[i]}
                                            td #{classAttendedArr_3rd[i]}
                                            td #{percentageArr_3rd[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/attendance.js"></script>
</body>

</html>



