<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="../static/css/result.css">
</head>
<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug 
            <section>
                include ./partials/flag.pug 
                <br><br><br>
                <button class="accordion">Semester 1</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Offered</th>
                                    <th>Letter Grade</th>
                                    <th>Points</th>
                                    <th>Credit</th>
                                    <th>Credit Points</th>
                                </tr>
                            </thead>
                            <tbody>     
                                -let subArr_1st=subjectArray_1st;
                                -let gradeArr_1st=gradeArray_1st;
                                -let subCodeArr_1st=subCodeArray_1st;
                                -let pointsArr_1st=pointsArray_1st;
                                -let creditArr_1st=creditArray_1st;
                                -let creditPointsArr_1st=creditPointsArray_1st;
                                -let len_1st = length_1st;
                                if len_1st!=undefined 
                                    -for (let i in subArr_1st){
                                        tr 
                                            td #{subCodeArr_1st[i]}
                                            td #{subArr_1st[i]}
                                            td #{gradeArr_1st[i]}
                                            td #{pointsArr_1st[i]}
                                            td #{creditArr_1st[i]}
                                            td #{creditPointsArr_1st[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>  
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 2</button>
                <div class="panel">
                    <div class="semester2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Offered</th>
                                    <th>Letter Grade</th>
                                    <th>Points</th>
                                    <th>Credit</th>
                                    <th>Credit Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                -let subArr_2nd =subjectArray_2nd;
                                -let gradeArr_2nd =gradeArray_2nd;
                                -let subCodeArr_2nd =subCodeArray_2nd;
                                -let pointsArr_2nd =pointsArray_2nd;
                                -let creditArr_2nd =creditArray_2nd;
                                -let creditPointsArr_2nd =creditPointsArray_2nd;
                                -let len_2nd =length_2nd;
                                if len_2nd!=undefined 
                                    -for (let i in subArr_2nd){
                                        tr 
                                            td #{subCodeArr_2nd[i]}
                                            td #{subArr_2nd[i]}
                                            td #{gradeArr_2nd[i]}
                                            td #{pointsArr_2nd[i]}
                                            td #{creditArr_2nd[i]}
                                            td #{creditPointsArr_2nd[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>   
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 3</button>
                <div class="panel">
                    <div class="semester3">
                        <table>
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Offered</th>
                                    <th>Letter Grade</th>
                                    <th>Points</th>
                                    <th>Credit</th>
                                    <th>Credit Points</th>
                                </tr>
                            </thead>
                            <tbody>        
                                -let subArr_3rd=subjectArray_3rd;
                                -let gradeArr_3rd=gradeArray_3rd;
                                -let subCodeArr_3rd=subCodeArray_3rd;
                                -let pointsArr_3rd=pointsArray_3rd;
                                -let creditArr_3rd=creditArray_3rd;
                                -let creditPointsArr_3rd=creditPointsArray_3rd;
                                -let len_3rd = length_3rd;
                                if len_3rd!=undefined 
                                    -for (let i in subArr_3rd){
                                        tr 
                                            td #{subCodeArr_3rd[i]}
                                            td #{subArr_3rd[i]}
                                            td #{gradeArr_3rd[i]}
                                            td #{pointsArr_3rd[i]}
                                            td #{creditArr_3rd[i]}
                                            td #{creditPointsArr_3rd[i]}
                                    -}
                                else 
                                    tr 
                                        <td style="width:881px;">#{msg}</td>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        include ./partials/footer.pug         
    </div>
    <script src="../static/js/result.js"></script>
</body>
</html>