<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome #{firstName} #{lastName}</title>
    <link rel="stylesheet" href="../static/css/student.css">
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                <div class="flag">
                    <div class="flag__icon">!</div>
                    <div class="flag__text">
                      |  Please fill the necessary information in the <a href="/student/personalInfo">personal info</a> and <a href="/student/academics">academics</a>
                    </div>
                </div>
                <div class="notice__board">Notice Board</div>
                    -const announcementsArr = announcements;
                    -let len = announcementsArr.length;
                    if len !=0 
                        -for(let i=0;i<announcementsArr.length;i++){
                            .notification
                                .notification__title #{announcementsArr[i].heading}
                                .notification__text #{announcementsArr[i].desc}
                                .notification__more By: #{announcementsArr[i].by}
                        -}
                    else 
                        <li style="align-self:flex-start;margin-left:3rem;">#{msg}</li>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/student.js"></script>
</body>

</html>