<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/teacher/T-studentAttendance.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    <title>Student Attendance</title>
</head>
<body>
    <div class="container">
        include ../../views/partials/teacher/header.pug
        -if(success.length>0){
        .success #{success}
        -}
        <div class="aside__section">
            include ../../views/partials/teacher/aside.pug
            <section>
                include ../../views/partials/teacher/flag.pug  
                <div class="student__attendance">
                    <a href="/teacher/studentAttendanceEdit">
                        <div class="edit">Edit</div>
                    </a>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 881px;">Student Attendance</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Roll No.</th>
                                <th>Subject</th>
                                <th>Total Class</th>
                                <th>Class Attended</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            -let subOfTeacher = sub;
                            -let rollArr = rollArray;
                            -let nameArr = nameArray;
                            -let totalClassArr = totalClassArray;
                            -let classAttendedArr = classAttendedArray;
                            -let percentageArr = percentageArray;
                            -let len = length;
                            if len !=undefined
                                - for(let i =0;i<len;i++){
                                    tr
                                        td #{nameArr[i]}
                                        td #{rollArr[i]}
                                        td #{subOfTeacher}
                                        td #{totalClassArr[i]}
                                        td #{classAttendedArr[i]}
                                        td #{percentageArr[i]}
                                -}
                            else 
                                tr 
                                    <td style ="width:881px;">#{msg}</td>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        include ../../views/partials/teacher/footer.pug
    </div>
    <script src="/static/js/teacher/studentAttendance.js"></script>
</body>
</html>