<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/teacher/T-studentResultEdit.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    <title>Student Result Upload</title>
</head>
<body>
    <div class="container">
        include ../../views/partials/teacher/header.pug
        -if(error.length>0){
        .error #{error}
        -}
        <div class="aside__section">
            include ../../views/partials/teacher/aside.pug
            <form action="/teacher/studentResultEdit" method="POST">
                <section>
                    include ../../views/partials/teacher/flag.pug  
                    <div class="student__result">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 881px;">Student Result</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Roll No.</th>
                                    <th>Subject</th>
                                    <th>Letter Grade</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                -let subOfTeacher = sub;
                                -let rollArr = rollArray;
                                -let nameArr = nameArray;
                                -let len = length;
                                if len !=undefined
                                    - for(let i =0;i<len;i++){
                                        tr
                                            td 
                                                input(type="text" id="name" name="name" value= nameArr[i] readonly=true) 
                                            td 
                                                input(type="text" id="roll" name="roll" value= rollArr[i] readonly=true) 
                                            td 
                                                input(type="text" id="sub" name="sub" value= subOfTeacher readonly=true) 
                                            td 
                                                select(name="letterGrade" id="letterGrade"+`${i}`  onchange=`populate('letterGrade${i}','points${i}')` required) 
                                                    <option value="">Select Letter Grade</option>
                                                    <option value="O">O</option>
                                                    <option value="E">E</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                    <option value="F">F</option>
                                                    <option value="I">I</option>
                                                </select>
                                            td 
                                                input(type="text" name="points" id="points"+`${i}` readonly=true)
                                    -}
                                else 
                                    tr 
                                        <td style ="width:881px;">#{msg}</td>
                            </tbody>
                        </table>
                        <input type="submit" value="Submit" id="submit">
                    </div>
                </section>
            </form>
        </div>
        include ../../views/partials/teacher/footer.pug
    </div>
    <script src="/static/js/teacher/studentResultEdit.js"></script>
</body>
</html>